Homework_3.1/.vs/
Homework_3.1/x64/
Homework_3.1/Homework_3.1/x64/
Homework_3.2/.vs/
Homework_3.2/x64/
Homework_3.2/Homework_3.2/x64/
Homework_3.3/.vs/
Homework_3.3/x64/
Homework_3.3/Homework_3.3/x64/